language: cpp
compiler:
  - clang
  - gcc

os: linux
dist: trusty
env:
  - DEVEL="$HOME/src"

cache:
  apt: true

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-3.6
    packages:
      - clang-3.6

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CC" == "clang" ]]; then
      export CC=clang-3.6 CXX=clang++-3.6;
    fi

script:
  - ./scripts/install-emscripten install
